{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

    {% for category in resultats %}
        <h3>{{ category.owner.name }}</h3>
        {% for article in category %}
            <h5 class="ml-5">{{ article.title }}<a data-toggle="collapse" href="#collapseExample{{ article.id }}" role="button" aria-expanded="false" aria-controls="collapseExample"> show article</a></h5>
            <p class="collapse" id="collapseExample{{ article.id }}">{{ article.content }}</p>
        {% endfor %}
    {% endfor %}

{% endblock %}