{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

    <h3>Ajouter un article</h3>
    {{ form_start(add) }}
    {{ form_row(add.title) }}
    {{ form_row(add.content) }}
    {{ form_row(add.category) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(add) }}

{% endblock %}
